<div class="alert alert-success" ng-show="currentUserEmail" role="alert">You are logged in as {{currentUserEmail}}</div>
<div class="alert alert-danger" ng-show="!currentUserEmail" role="alert">You are not logged in.</div>


<h2>Contact a Coach</h2>
<form ng-controller="ContactCoachCtrl">
  <span>Coach Name: </span> <input type="text" ng-model="coachName" /></input><br>
  <span>First Name: </span> <input type="text" ng-model="firstName" /></input><br>
  <span>Last Name:</span> <input type="text" ng-model="lastName" /></input><br>
  <!--<span>Email Address:</span> <input type="text" ng-model="newEmail" /></input><br> -->
  <span>Message:</span> <input type="text" ng-model="newMessage" /></input><br>
  <button type="submit" ng-click="contactCoach()">Contact Coach</button>
</form>