
<h2>JavaScript Coaches</h2>

<div class="alert alert-success" ng-show="currentUserEmail" role="alert">You are logged in as {{currentUserEmail}}</div>
<div class="alert alert-danger" ng-show="!currentUserEmail" role="alert">You are not logged in.</div>

<ul ng-repeat="user in usersArray | filter:currentFilter" >
  <div class="well well-sm">
    <img class="profile-pic" src=" {{user.image}} " width="100px" height="110px">
    <li>Name: {{ user.firstName }} {{ user.lastName }}</li>
    <li>Bio: {{ user.bio }}</li>
    <li>Areas of Expertise: {{ user.areas}}</li>
    <li>Times Available: {{ user.avail}}</li>
    <li>Portfolio: <a href="{{ user.portfolio}}" target="_blank">{{ user.portfolio}}</a> </li>
    <li>Twitter: {{user.twitter}}</li>
    <li><a class="btn btn-default" ng-href="#/contact-coach">Contact Coach</a></li>
    <li>
        <a class="btn btn-info btn-lg" ng-click="saveCoach(usersArray.indexOf(user))">
          <span ng-class="{'highlight-star': highlightStar, 'glyphicon-star': true, 'glyphicon': true}"></span> Save Coach
        </a>
    </li>
  </div>
</ul>
