

<div class="alert alert-success" ng-show="currentUserEmail" role="alert">You are logged in as {{currentUserEmail}}</div>
<div class="alert alert-danger" ng-show="!currentUserEmail" role="alert">You are not logged in.</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Log In</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="logInUser()">
      <p>Email: <input type="text" ng-model="loginEmail" placeholder="email"></input> Password: <input type="password" ng-model="loginPassword" placeholder="password"></input> <input type="submit" id="submit" value="Submit" /></input> </p> 
    </form>
   </div>
</div>


<button ng-click="logOut()" type="button" class="btn btn-danger">Log Out</button>

<p>User Id: {{currentUserId}}</p>
<p>Current User Email: {{currentUserEmail}} </p>

<p>Test login: csipe 84 at gmail dot com pw = coolcoach </p> 
<p>Test login2: sipec at seattle u dot edu pw = coolcoach </p>