<div class="jumbotron">
  <div class="header-overlay">
    <h1>Code Coach</h1>
    <h2>Free code coaching with an experienced web developer.</h2>
    <p class="lead">
      Meet online with a mentor for 10 weeks to work on a project or work through Free Code Camp.
    </p>
  </div>
</div>


<div class="row marketing">
  <p>Hello {{userName}} </p>
  
  <h2>Why a Code Coach?</h2>
  <p>Professional athletes, musicians, and executives typically have coaches to provide them feedback on what they can improve on and push them just out of their confort zones in order to improve their skills.</p>

  <p>Research by Anders Ericsson has found that deliberate practice is an effective way to improve a skill.</p>

  <h2>How Does It Work?</h2>
  Browse the coach directory by category and learn about coaches who are available for weekly sessions. Submit a request to a coach and schedule weekly meetings with them.

  <h2>Coaches by Category</h2>
  <ul>
    <li><a ng-href="#/free-code-camp-coaches">Free Code Camp</a></li>
    <li><a ng-href="#/javascript-coaches">JavaScript</a></li>
    <li><a ng-href="#/react-coaches">React</a></li>
    <li><a ng-href="#/rails-coaches">Ruby on Rails</a></li>

  </ul>
</div>
