<div class="jumbotron">
  <h1>Code Coach</h1>
  <h2>Free code coaching with an experienced web developer.</h2>
  <p class="lead">
    Meet online with a mentor for 10 weeks to work on a project or work through Free Code Camp.
  </p>
</div>


<div class="row marketing">
  <p>Hello {{userName}} </p>
  
  <h2>Why a Code Coach?</h2>
  <p>Professional athletes, musicians, and executives typically have coaches to provide them feedback on what they can improve on and push them just out of their confort zones in order to improve their skills.</p>

  <h2>How It Works</h2>


  <h2>Coaches</h2>
  <ul>
    <li><a ng-href="#/javascript-coaches">JavaScript</a></li>
  </ul>
</div>
