<div class="jumbotron">
  <h1>Ranked Resources</h1>
  <p class="lead">
    Social resource sharing application.
  </p>
</div>

<div class="row marketing">
  Hello, 
  <h4>Submit New Resource</h4>
  <form>
    <span>Resource Title: </span> <input type="text" ng-model="newResource" /></input><br>
    <span>URL:</span> <input type="text" ng-model="newUrl" /></input><br>
    <span>Tags:</span> <input type="text" ng-model="newTags" /></input><br>
    <button class="add-blog" type="submit" data-ng-click="addResource()">Add Resource</button>
  </form>

  <h4>Latest Resources</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Topics</h4>
  <ul>
    <li>Learning JavaScript</li>
  </ul>
</div>
