
<!-- Log in panel -->
      
      

      <!-- Create account panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create a User Account</h3>
        </div>
        <div class="panel-body">
          <form ng-submit="createUser()">
            <p>Enter your email:</p>
            <input type="text" ng-model="userEmail" placeholder="email"></input>
            <p>Enter a new password</p>
            <input type="text" ng-model="userPassword" placeholder="password"></input><br>
            <input type="submit" id="submit" value="Submit" /></input>
          </form>
        </div>
      </div>

      <p>Current User Email: {{currentUserEmail}} </p>
